@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.header{
    background-color: lightskyblue;
    text-align: center;
    box-shadow: 0px 0px 10px 0px black;
    padding: 10px 0px 10px 0px;
}

.introduction-card{
    background-color: white;
    display: block;
    width: 650px;
    margin: 30px auto 0px auto;
    box-shadow: 0px 5px 5px 0px grey;
    list-style-position: inside;
}

.introduction-card:hover{
    filter: brightness(1.1);
}

.introduction-header{
    background-color: lightskyblue;
    text-align: center;
    padding: 5px 0px 5px 0px;
    font: 30px bold;
}

.introduction-content{
    padding: 10px;
}

.picture-wrapper > img{
    width: 200px;
    margin: auto 0px auto 0px;
}

.picture-wrapper{
    text-align: center;
}

h3{
    margin: 10px 0px 0px 0px;
}